.navi {
  padding-left: 30px;
  padding-right: 30px;
}
.nav-a {
  color: white;
}
.nav-a:hover {
  color: gray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Faustina;
}
p {
  font-family: Raleway;
  line-height: 1.7em;
}
.btn {
  color: white;
  background: transparent;
  font-family: Montserrat;
}
.parallax {
  padding-top: 40vh;
  padding-bottom: 10vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/julia-redrocks.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-light {
  color: white;
  text-align: center;
}
.header-dark {
  color: black;
  text-align: center;
}
.a {
  padding: 5vw 10vw;
}
.b {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5vw 10vw;
}
.icons {
  width: 80px;
  height: 80px;
}
.des-hero {
  height: 500px;
  background-position: center;
}
.club {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/banner-2.png");
}
.resort {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/banner-1.png");
}
.sim {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/banner.png");
}
.des-text {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
  color: white;
  padding-bottom: 30px;
}
@media (max-width: 991px) {
  .col-mar {
    margin: 2px 0;
  }
}
.resume {
}
.self {
  width: 300px;
  height: 300px;
  transform: rotate(-10deg);
}
.contact {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/background.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
