.navi {
  padding-left: 30px;
  padding-right: 30px;
}
.parallax {
  background-image: url("images/julia-redrocks.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icons {
  width: 150px;
  height: 150px;
}
